body, html {
    margin: auto;
    height: 100%;
    width: 100%;
    font-family: "Raleway", sans-serif;
    background-color: #f2e1e1;
}
* {
    box-sizing: border-box;
}
.text, h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}
.smaller-grey-text {
    text-align: center;
    color: grey;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}
.bigger-text {
    font-size:64px;
    font-weight: 400;
}
p {
    text-align: center;
}
.info {
    width: 70%;
    margin-top: 35px;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 2;
    font-size: 14px;
}
.button {
    background: #000;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding: 20px 20px;
    letter-spacing: 2px;
    border-radius: 6px;
    display: inline-block;
    margin: 6%;
}
button:hover{
    background: lightsteelblue;
}
a:link {
    text-decoration: none;
}
.button1 {
    width: 180px;
    height: 70px;
    font-size: 20px;
    background: #f88179;
    color: white;
    padding: 12px 24px;
    letter-spacing: 2px;
    border-radius: 6px;
    display: inline-block;
    margin: 5% 43%;
}

.last {
    float: left;
    width: 50%;
    text-align: center;
    line-height: 1.5;
    color: black;
}

.apatinis {
   background-color: #ffdddd;"
}

/* BEGIN: Navigation */
.topnav {
    overflow: hidden;
    background-color: rgba(204, 204, 204, 0.43);
    bottom: 0px;
    width: 100%;
    position: fixed;
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
.topnav:hover {
    background-color: white;
}
.topnav a:hover {
    background-color: #8d8d8d;
}
a.black-button:hover {
    color: white ;
    background-color: Black ;
}
.effect {
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0, 0, 1, 1) 5ms;
}
a.effect:hover {
    -webkit-transform: scale(0.80);  font-weight: bold;
}
/* END: Navigation */