body {
  background: red; }

h1 {
  font-size: 20px; }

ul {
  list-style-type: none; }
  ul li {
    border: 1px solid black; }
    ul li a {
      color: green; }
      ul li a span {
        font-weight: bold; }
